# Core
pytz
Django
django-configurations
gunicorn
newrelic

# For the persistence stores
psycopg2-binary
dj-database-url

# Model Tools
django-model-utils
django_unique_upload

# Rest apis
djangorestframework
Markdown
django-filter
djangorestframework-simplejwt
# django-parler-rest==2.2
django-redis
redis
drf-yasg
python-dotenv
django-modeltranslation

# Developer Tools
ipython
mkdocs
flake8

# Testing
mock
factory-boy
django-nose
# nose-progressive==1.5.2
coverage

